* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-red-line: hsl(0, 78%, 62%);
  --clr-cyan-line: hsl(180, 62%, 55%);
  --clr-orange-line: hsl(34, 97%, 64%);
  --clr-blue-line: hsl(212, 86%, 64%);
  --clr-dark-blue: hsl(234, 12%, 34%);
  --clr-grayish-blue: hsl(229, 6%, 66%);
  --clr-light-gray: hsl(0, 0%, 98%);
  --fnt-size: 15px;
  --fnt-font-family: Poppins, "Sans Serif";
}

html,
body {
  background-color: var(--clr-light-gray);
  color: var(--clr-dark-blue);
  max-width: 1440px;
  height: 150vh;
  font-family: var(--fnt-font-family);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  line-height: 1.5;
  padding: 2rem;
}

section,
article {
  padding: 1.7rem;
}

p {
  color: var(--clr-grayish-blue);
}
/* FIRST SECTION */

.infosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.infosContainer__text--lighter {
  font-weight: 200;
}

.infosContainer__text--margin {
  margin-bottom: 1rem;
}

/* SECOND SECTION */

.toolsContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, auto);
  position: relative;
}

.toolsContainer__block {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 1px 7px 10px rgb(210, 205, 205), -1px 0px 10px rgb(210, 205, 205);
  border-top: 4px solid;
}

.toolsContainer__block:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
  position: absolute;
  top: 30px;
}

.toolsContainer__block:nth-child(2) {
  grid-column: 3;
  grid-row: 2;
  position: absolute;
  bottom: -300px;
}

.toolsContainer__block:nth-child(3) {
  grid-column: 2;
  grid-row: 3;
  position: absolute;
  bottom: -430px;
}

.toolsContainer__block:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
  position: absolute;
  bottom: -300px;
}

.toolsContainer__block img {
  display: flex;
  align-self: flex-end;
}

.containerRed {
  border-top: 4px solid var(--clr-red-line);
}

.containerBlue {
  border-top: 4px solid var(--clr-blue-line);
}

.containerOrange {
  border-top: 4px solid var(--clr-orange-line);
}

.containerCyan {
  border-top: 4px solid var(--clr-cyan-line);
}
